<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <script src="../resources/js/plugins/jquery-1.11.2.js"></script>
    <script src="../resources/js/plugins/bootstrap.min.js"></script>
    <script src="../resources/js/plugins/angular.min.js"></script>
    <script src="../resources/js/index.js"></script>
    <title>First Angular application</title>
</head>

<body ng-app="myApp">
<div ng-controller="myController as ctrl" class="container">
    <h1>Lesson 1: Homework</h1>

    <button class="btn btn-default"
            ng-click="isShown = !isShown"
            ng-class="{'btn-primary' : isShown, 'btn-default' : !isShown}"
            >
        Show Lesson Content
    </button>

    <hr>
    <div ng-show="isShown" ng-hide="!isShown">

        <input ng-model="search"
               placeholder="global search..."
               type="text"
               class="form-control input-sm"
               style="width: 250px;">
        <hr>

        <div>
            <table class="table table-striped contact_table">
                <thead>
                <tr>
                    <th ng-click="ctrl.sort('firstName')" name="firstName">
                        First Name
                        <div><span></span></div>
                    </th>
                    <th ng-click="ctrl.sort('lastName')" name="lastName">
                        Last Name
                        <div><span></span></div>
                    </th>
                    <th ng-click="ctrl.sort('age')" name="age">
                        Age
                        <div><span></span></div>
                    </th>
                    <th ng-click="ctrl.sort('address.city')" name="address.city">
                        City
                        <div><span></span></div>
                    </th>
                    <th>
                        <select class="form-control input-sm"
                                ng-init="number_type = 'home'"
                                ng-model="number_type">
                            <option value="home">Home number</option>
                            <option value="fax">Fax number</option>
                        </select>
                    </th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="person in persons | orderBy:ctrl.predicate | filter:search">
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.address.city}}</td>
                    <td ng-repeat="phone in persons = (person.phoneNumber | filter: {type: number_type })">{{phone.number}}</td>
                    <td>
                        <button class="btn btn-default sm">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>
</body>
</html>