<div>
    <div class="button-block">
        {{person.firstName}} {{person.lastName}}
        <a link class="close" ng-click="ctrl.hide()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="button-block content">
        <div>
            <span>Age:</span>
            <span>{{person.age}}</span>
        </div>
        <div>
            <span>Street:</span>
            <span>{{person.address.streetAddress}}</span>
        </div>
        <div>
            <span>City:</span>
            <span>{{person.address.city}}</span>
        </div>
        <div>
            <span>State:</span>
            <span>{{person.address.state}}</span>
        </div>
        <div>
            <span>Postal Code:</span>
            <span>{{person.address.postalCode}}</span>
        </div>
        <div>
            <span>Home Number:</span>
            <!--<span ng-repeat="home in person.phoneNumber = (person.phoneNumber | filter: {type: 'home'}) ">{{home.number}}</span>-->
        </div>
        <div>
            <span>Fax Number:</span>
            <!--<span ng-repeat="fax in person.phoneNumber = (person.phoneNumber | filter: {type: 'fax'})">{{fax.number}}</span>-->
        </div>
    </div>
    <div class="button-block text-right">
        <button class="btn btn-default" ng-click="ctrl.hide()">Close window</button>
        <button class="btn btn-primary" ng-click="ctrl.submit(person.firstName, person.lastName)">Submit</button>
    </div>
</div>
