.contact_table th {
    color: #3F87C2;
    cursor: pointer;
}

.contact_table th div {
    float: right;
    width: 5px;
}

.person-card {
    display: none;
    position: absolute;
    width: 600px;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}

.button-block {
    padding: 15px;
}

.content {
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.content > div {
    padding: 2px;
}

.content > div > span:first-child {
    font-weight: 600;
}
.last-viewed { color: #B44460; }